body {
    margin: 0 auto !important;
    padding: 0 !important;
}

.princ {
    height: 100vh;
    display: table !important;
    width: 100%;
    background-color:rgb(255,139,0);    
}

.content {
    color: #000000;    
    display: table-cell;
    text-align: center ;
    vertical-align: middle;     
}

.scholl-input {
    margin-top: 5px !important;
    width: 45% !important;
    background-color: #ffffff !important;
    border-radius: 16px !important;
    padding: 0 15px 0 15px !important;    
    color:black;
}

.btn-scholl {
    margin: 15px !important;
    background:#45981B ;
    color: white;
    border: none;
    border-radius: 70px;
    cursor: pointer;    
    font-size: 20px;    
    padding: 4px 55px !important; 
    border: 1px solid #45981B;   
}

.navbar-fixed {
    position: absolute;
    z-index:999999999;
}

.teste{
    height: 100vh;
    padding:5% 8% 0% 8%;    
}

.orange-menu{
  background-color:rgb(255,139,0) !important; 
}

.content-card {
    color: #004525;    
    display: table-cell;
    text-align: center ;
    vertical-align: middle;     
}

.card-img{
    max-height:250px;
}

.teste-houver:hover{
  box-shadow: 2px black;
}

@media (max-width: 600px){
    .scholl-input {        
        margin-top: .5em !important;
        width: 18em !important;               
    }
}


